@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500&family=Pixelify+Sans&display=swap');

body {
    font-family: 'Gabarito', sans-serif;
    padding: 0 10vw;
    display: flex;
    justify-content: center;
    background-image: url(/img/pokeball-icon.png);
    background-repeat: no-repeat;
    background-position-x: -180px;
    background-position-y: -80px;
    width: 100%
  }
  
  .pokemon-title {
    font-family: 'Pixelify Sans';
  }

  .pokemon-icon-idle {
    margin-top: -4.5rem;
    image-rendering: pixelated;
  }

  #pokemon-anim-select {
    margin-top: -9rem;
    object-fit: contain;
    image-rendering: pixelated;
  }

  .card-cont {
    transition: transform 0.3s ease-in-out;
  }

  .card-cont:hover .pokemon-img-cont{
    transform: scale(1.2); 
  }

  .card-cont:hover {
    cursor: pointer;
  }

  .normal {
    background-color: #BCBCAC;
    color: #4D4D45;
  }

  .fire {
    background-color: #FF421C;
    color: #6F2011;
  }

  .water {
    background-color: #2F9AFF;
    color: #113250;
  }

  .grass {
    background-color: #78CD54;
    color: #2B491F;
  }

  .electric {
    background-color: #FFCD30;
    color: #7e6619;
  }

  .ice {
    background-color: #78DEFF;
    color: #447b8d;
  }

  .fighting {
    background-color: #BC5442;
    color: #4e251e;
  }

  .poison {
    background-color: #AB549A;
    color: #5f2f55;
  }

  .flying {
    background-color: #669AFF;
    color: #26385c;
  }

  .psychic {
    background-color: #FF549A;
    color: #752a49;
  }

  .bug {
    background-color: #ABBC1C;
    color: #575f0c;
  }

  .rock {
    background-color: #BCAC66;
    color: #4b4428;
  }

  .ground {
    background-color: #DEBC54;
    color: #382f15;
  }

  .ghost {
    background-color: #6666BC;
    color: #2f2f57;
  }

  .dragon {
    background-color: #7866EF;
    color: #231e42;
  }

  .dark {
    background-color: #785442;
    color: #1a110d;
  }

  .steel {
    background-color: #ABACBC;
    color: #35353a;
  }

  .fairy {
    background-color: #FFACFF;
    color: #5a265a;
  }

