@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500&family=Pixelify+Sans&display=swap');

body {
    font-family: 'Gabarito', sans-serif;
    padding: 0 10vw;
    display: flex;
    justify-content: center;
    background-image: url(/img/pokeball-icon.png);
    background-repeat: no-repeat;
    background-position-x: -180px;
    background-position-y: -80px;
    width: 100%
  }
  
  .pokemon-title {
    font-family: 'Pixelify Sans';
  }

  .pokemon-icon-idle {
    margin-top: -4.8rem;
  }

  .normal {
    background-color: #BCBCAC;
    color: #4D4D45;
  }

  .fire {
    background-color: #FF421C;
    color: #6F2011;
  }

  .water {
    background-color: #2F9AFF;
    color: #113250;
  }

  .grass {
    background-color: #78CD54;
    color: #2B491F;
  }

  .electric {
    background-color: #FFCD30;
    color: #7e6619;
  }

  .ice {
    background-color: #78DEFF;
    color: #447b8d;
  }

  .fighting {
    background-color: #BC5442;
    color: #4e251e;
  }

  .poison {
    background-color: #AB549A;
    color: #5f2f55;
  }

  .flying {
    background-color: #669AFF;
    color: #26385c;
  }

  .psychic {
    background-color: #FF549A;
    color: #752a49;
  }

  .bug {
    background-color: #AB549A;
    color: #5f2f55;
  }

  .rock {
    background-color: #AB549A;
    color: #5f2f55;
  }

  .ghost {
    background-color: #AB549A;
    color: #5f2f55;
  }

  .dragon {
    background-color: #AB549A;
    color: #5f2f55;
  }

  .dark {
    background-color: #AB549A;
    color: #5f2f55;
  }

  .steel {
    background-color: #AB549A;
    color: #5f2f55;
  }

  .fairy {
    background-color: #AB549A;
    color: #5f2f55;
  }

